# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
!.env.example
!src/.env.example
.venv/

# Node
node_modules/
dist/
build/

# VSCode
.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Python pytest
.pytest_cache/

# Coverage
htmlcov/
coverage/
